<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Basic Page Needs ––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Historico</title>
    <meta name="description" content="Historico Termohigrometro">
    <meta name="author" content="Cleiton Ferreira">
    <!-- Mobile Specific Metas  ––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT ––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS –––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <!-- Favicon ––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/static/images/favcimed.png">
  </head>
  <body>
        <div class="one column">
      		<a href="/lab_temp" style="position:relative;top:15px">Real time</a>
       	</div>
	</div>
      <div class="row">
        <div class="one-third column" style="margin-top: 5%">
          <strong>Mostrar todos os registros</strong>
          <h2>Medias</h2>
            <table class="u-full-width">
              <thead style="display:block;">
                <tr>
                  <th>Data</th>
                  <th>                              &deg;C</th>
                </tr>
              </thead>
              <tbody style="height:450px; overflow:scroll; display:block;">
                {% for reg in medias_date %}
                <tr>
                  <td>{{reg[0]}}</td>
                  <td>{{reg[1]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
 
        <div class="two-thirds column" style="margin-top: 5%">
        <div class="row">                  
          <div class="row">
            <div class="three columns">
                <div id="chart_medias"></div>
                <div id="chart_humid"></div>
            </div>
          </div>
        </div>     
      </div>
    </div>
</body>
 <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
 
    <script>
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');  
      data.addColumn('number', 'Temperature');      
      data.addRows([
          {% for row in medias_date %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},0,0),{{'%0.2f'|format(row[1])}}],
          {% endfor %}
        ]);

      var options = {
        width: 600,
        height: 563,
        hAxis: {
          title: "Data",
          gridlines: { count: {{media_items}}, color: '#CCC' },
          format: 'dd-MMM-yyyy HH:mm' },
        vAxis: {
          title: 'Graus'
        },
        title: 'Temperatura',
        curveType: 'function'  //Makes line curved
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_medias'));

      chart.draw(data, options);

    }

      </script>
</html>
